###DoDocket 📋
Simple Task Management System with Docker

##Описание
DoDocket - это мини-проект, представляющий собой простой менеджер задач, который позволяет создавать, просматривать, обновлять и удалять задачи. Используется Python для взаимодействия с базой данных SQLite, а Docker упрощает развертывание и использование проекта.

Функциональность
Добавление задач: Создание новых задач с указанием названия, описания и статуса. ✅
Просмотр задач: Отображение всех задач в текущей базе данных. 👀
Обновление задач: Изменение статуса задачи по её ID. 🔄
Удаление задач: Удаление задачи по её ID. ❌

##Требования
Docker 🐳

##Установка
Клонируй репозиторий или скачай ZIP-архив проекта:
bash
git clone https://github.com/Jam-cmd-stack/do-docket.git
Перейди в директорию с Docker файлом:
bash
cd DoDocket/docker
Построение и запуск Docker образа:
bash
docker build -t dodocket .
docker run -it --rm -v ../python/tasks.db:/app/tasks.db dodocket

##Использование
После запуска контейнера, взаимодействуй с системой через интерфейс командной строки:

add - добавить новую задачу.
view - посмотреть все задачи.
update - изменить статус задачи.
delete - удалить задачу.
exit - завершить работу с программой.

##Структура проекта
docker/ - папка с Docker файлами
Dockerfile - инструкции для создания Docker образа.
python/ - папка с Python кодом проекта
main.py - основной скрипт, где реализованы все функции.
requirements.txt - зависимости Python.
tasks.db - база данных SQLite.
README.md - этот файл.